############################################################
#                       SETTINGS                           #
############################################################

# Local slave database settings
DB_HOST=localhost
DB_NAME=musicbrainz
DB_USER=musicbrainz
DB_PASSWORD=musicbrainz

# Location of search indexes
INDEXES_DIR=/home/search/indexdata

# URL of the search server that need to be notified once indexes has been updated
SERVLET_HOST=http://localhost:8080

# Indexes that will be updated
# NB: Comment the following line if you want to specify indexes to be updated while running the script:
#   updateindex.sh --indexes artist,label,...
INDEXES=artist,releasegroup,label,tag,annotation,work,release
