<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"> 
<display-name>MusicBrainz Search Server</display-name>

<filter>
   <filter-name>UrlRewriteFilter</filter-name>
   <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>INFO</param-value>
    </init-param>
</filter>
<filter-mapping>
  <filter-name>UrlRewriteFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>    
<servlet>
<servlet-name>SearchServerServlet</servlet-name>
<servlet-class>org.musicbrainz.search.servlet.SearchServerServlet</servlet-class>
  <init-param>
     <param-name>index_dir</param-name>
     <param-value>/home/ijabz/indexdata</param-value>
     <param-name>ratelimitserver_host</param-name>
     <param-value>hobbes.localdomain</param-value>
     <param-name>ratelimitserver_port</param-name>
     <param-value>2000</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>SearchServerServlet</servlet-name>
  <url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>
